// Cores de Texto
$text-primary: #2c3e50; // Cor principal do texto
$text-secondary: #999999; // Cor secundária para texto menos importante
$text-on-primary: #ffffff; // Cor do texto sobre fundos escuros (ex: botões)
$text-muted: #aaaaaa;

// Cores de Fundo
$background-primary: #ff2e34; // Cor de fundo principal (usada em botões, destaques)
$background-secondary: #f4f5f6; // Cor de fundo secundária (usada em cartões, áreas secundárias)
$background-light: #ffffff; // Cor de fundo para áreas claras (inputs, áreas de destaque)
$background-attention: #ff2e34;

// Links
$link-default: #2c3e50; // Cor padrão dos links
$link-active: #42b983; // Cor para links e itens ativos

// Cores de Borda
$border-default: #cccccc; // Cor padrão das bordas
