<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>First Vue App</title>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
        <ul>
            <li :style="listaEstilo" v-for="(aluno, index) in listaAlunos">
                {{aluno.nome + ': ' + aluno.nota}}
                <span :style="{'color': aprovado}" v-if="aluno.nota >= 7"> (Aprovado) </span>
                <span :style="{'color': recuperacao}" v-else-if="aluno.nota >=4">(Recuperação)</span>
                <span :style="{'color': reprovado}" v-else>(Reprovado)</span>
            </li>
        </ul>

    </div>

    <script>
        const { createApp, reactive, ref } = Vue;
        
        const app = createApp({
            setup(){
                const listaAlunos = ref([
                    { nome: 'Pedrinho', nota: 5.4 },
                    { nome: 'Aline', nota: 7.7 },
                    { nome: 'Jonathan', nota: 3.2 },
                    { nome: 'Joaquina', nota: 10.0 }
                ])

                const listaEstilo = reactive({
                    listStyle: 'none',
                    fontFamily: 'Helvetica',
                    fontSize: '22px'
                })

                const aprovado = ref("green")
                const recuperacao = ref("orange")
                const reprovado = ref("red")
                return { listaAlunos, listaEstilo, aprovado, recuperacao, reprovado }
            }
        })

        app.mount("#app")

    </script>

  </body>
</html>
